[submodule "protos"]
	path = protos
	url = https://github.com/vogiaan1904/e-commerce-grpc-nest-proto.git
[submodule "protos-submodule"]
	path = protos-submodule
	url = https://github.com/vogiaan1904/e-commerce-grpc-nest-proto.git
